<div></div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/snap.svg/dist/snap.svg-min.js"></script>

<script src='/javascript/config.js'></script>
<script src='/javascript/map.js'></script>
